@model Filmverwaltung.Models.Film

@{
    ViewBag.Title = "Film löschen";
}

<h2>Löschen</h2>

<h3>Sind Sie sicher das sie diesen Film löschen wollen?</h3>
<div>
    <h4>Film</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Laenge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Laenge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produzent.Vorname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produzent.Vorname)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Löschen" class="btn btn-default" /> |
            @Html.ActionLink("Zurück", "Index")
        </div>
    }
</div>
