@using Filmverwaltung.Models
@model Filmverwaltung.Models.Serie

@{
	ViewBag.Title = "Serie Editieren";
}

<h2>Editieren</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Serie</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.ID_Serie)

		<div class="form-group">
			@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Genre, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Genre, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Genre, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.AnzStaffeln, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.AnzStaffeln, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.AnzStaffeln, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.AnzEpisoden, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.AnzEpisoden, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.AnzEpisoden, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.ProduzentId, "Produzent", htmlAttributes: new {@class = "control-label col-md-2"})
			<div class="col-md-10">
				@Html.DropDownList("ProduzentId", null, htmlAttributes: new {@class = "form-control"})
				@Html.ValidationMessageFor(model => model.ProduzentId, "", new {@class = "text-danger"})
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Schauspieler, "Schauspieler", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.ListBoxFor(model => model.Schauspieler, new MultiSelectList((ICollection<Schauspieler>)ViewBag.Schauspieler, "ID_Schauspieler", "FullName"), new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Schauspieler, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Speichern" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Zurück", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
