@model IEnumerable<Filmverwaltung.Models.Schauspieler>

@{
    ViewBag.Title = "Schauspieler";
}

<h2>Schauspieler</h2>

<p>
    @Html.ActionLink("Neuer Schauspieler", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vorname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VermittlungsAgentur)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vorname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VermittlungsAgentur)
        </td>
        <td>
            @Html.ActionLink("Editieren", "Edit", new { id=item.ID_Schauspieler }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Schauspieler }) |
            @Html.ActionLink("Löschen", "Delete", new { id=item.ID_Schauspieler })
        </td>
    </tr>
}

</table>
